{% extends 'header.html' %}

{% block head %}

<title>Travel Package Purchase Estimator</title>
{% endblock %}
<h1>
   
    <img src= "/Templates/pictures/kamele.jpg" height=300 weight=600>
  
</h1>
{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">

        <form action="/predict" method="post">
            <legend>Travel Package Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" type="text" name="Age" placeholder="Enter your Age"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" type="text" name="Age" placeholder="Enter your Gender"
                required >
                
                <option value="<male">
                    &lt;male
                </option>
                <option value="female">
                    female
                </option>
                

            </select>
               
            </div>
            <div class="mb-3">
                <label class="form-label">MaritalStatus</label>
                <select class="form-control" type="text" name="MaritalStatus" placeholder="Enter your MaritalStatus" 
                required >
               
                <option value="Single">
                    &lt;Single
                
                </option>
                <option value="Married">
                    Married
                </option> 
                    

                </select>
            <div class="mb-3">
                 <label class="form-label">TypeofContact</label>
                 <select class="form-control" type="text" name="TypeofContact" placeholder="Enter your value "
                  required >
                    
                 <option value="Self Enquiry">
                        &lt;	Self Enquiry
                    
                </option>
                <option value="Company Invited">
                        Company Invited
                </option> 
            </select>

            </div>
            <div class="mb-3">
                <label class="form-label">Occupation</label>
                 <select class="form-control" type="text" name="Occupation" placeholder="Enter your value "
                  required >
                    
                 <option value="Salaried">
                        &lt;Salaried
                 </option>
                 <option value="Free Lancer">
                    Free Lancer
                 </option> 
                 <option value="	Small Business">
                    Small Business
                </option> 

            </select>

            </div>
           
            <div class="mb-3">
                <label class="form-label"> CityTier </label>
                <input class="form-control" type="text" name="CityTier" placeholder="Enter value between 1 to 3  "
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label"> NumberOfPersonVisiting</label>
                <input class="form-control" type="text" name="" NumberOfPersonVisiting placeholder="Enter value between 1 to 3  "
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">NumberOfFollowups</label>
                <input class="form-control" type="text" name="NumberOfFollowups" placeholder="Enter value between 1 to 5  "
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label"> NumberOfTrips</label>
                <input class="form-control" type="text" name=" NumberOfTrips" placeholder="Enter value between 1 to 10 "
                    required /> 
            </div>
            <div class="mb-3">
                <label class="form-label">Passport </label>
                <input class="form-control" type="text" name="Passport " placeholder=" 1 for Yes. 0 for No  "
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">OwnCar</label>
                <input class="form-control" type="text" name=""OwnCar"
                    placeholder="1 for Yes. 0 for No" required />
            </div>
            <div class="mb-3">
                <label class="form-label"> NumberOfChildrenVisiting </label>
                <input class="form-control" type="text" name=" NumberOfChildrenVisiting "
                    placeholder="Enter a value between 1 to 6" required />
            </div>
            <div class="mb-3">
                <label class="form-label"> MonthlyIncome </label>
                <input class="form-control" type="text" name="MonthlyIncome"
                    placeholder="Enter a value in NT Dollars" required />
            </div>
                      

                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Travel Package Purchase" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Travel Package Purchase
            </div>
            <div class="card-body">
        {% if context['package_data'] is not none %}
        <table class="table table-striped">
            <caption>Travel Package Purchase Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['package_data'].items() %}


            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>ProdTaken</td>
                <td>
                    {{ context['ProdTaken'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate Travel Package Purchase</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}